@page "/logout"
@model OnlineShop.Web.Pages.LogoutModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Logging Out</title>
</head>
<body onload="document.getElementById('logoutForm').submit();">
    <form id="logoutForm" method="post">
        <noscript>
            <button type="submit">Click here to logout</button>
        </noscript>
    </form>
</body>
</html>

@{
}
